# Database settings
POSTGRES_USER=your_username_here
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=your_database_name_here

# Full database connection address
DATABASE_URL=postgresql+psycopg://your_username:your_password@localhost:5432/your_db_name

# Redis connection address
REDIS_URL=redis://localhost:6379/0

# App settings
APP_NAME=Anomaly Detection Platform
DEBUG=True